* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "rubik" ,sans-serif;
}

body {
    background-color: #eaff05;
    background-image: url(joke.jpg);
}

.wrapper {
    width: 80vmin;
    padding: 50px 40px;
    background-color: #15161a;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 35)
}


